.card{
   
    border-left: 4px solid rgb(241, 243, 245);  
    position: relative;
    right: 300px;
    
}
.e-card{
    display: flex;
    flex-direction: column;
  
}
.e-border{
    display: flex;
    flex-direction: column;
    position: relative;
    gap:1rem;
    align-items: start;
    text-align: start;
    border: 2px solid rgb(11, 57, 82) ;
    margin: 15px;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
  background: rgb(7, 56, 78);
  color: white;

}

.e-border:hover{
    background-color: aqua;
    color: black;
    
}
.e-border::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.4rem;
    width: 1rem;
    height: 1rem;
    background:white;
    border-radius: 50%;
}
.clg{
    font-size: 20px;
    font-weight: bold;
}
.badge{
    background-color: rgb(63, 179, 233);
    color: rgb(17, 16, 16);
    font-size: 15px;
}